

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.input-field {
  display: block;
  margin-right: 15px;
  padding: 7px;
  width: 200px;
}

.button-src {
  font-weight: 500;
  display: block;
  width: 100px;
  height: 37px;
  background-color: rgb(55, 72, 224);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgb(79, 60, 250);
    font-weight: 700;
  }
}
